<mat-toolbar color="primary">
  <mat-toolbar-row>
    
    <div class="menu-left">
      <ul class="menu-list">
        <li><button mat-button routerLink="home"><mat-icon>home</mat-icon></button></li>
        <li *ngIf="isLoggedIn()"><button mat-button routerLink="game">game</button></li>
        <li *ngIf="isLoggedIn()"><button mat-button routerLink="adminpage">Admin</button></li>
        <li *ngIf="isLoggedIn()"><button mat-button routerLink="data">Data</button></li>
        <li ><button mat-button routerLink="forum">Forum</button></li>
      </ul>
    </div>
    <div class="menu-right">
      <ul class="menu-list">
        <li *ngIf="!isLoggedIn()"><button mat-button routerLink="login">Bejelentkezés</button></li>
        <li *ngIf="!isLoggedIn()"><button mat-button routerLink="register">Regisztráció</button></li>
        <li *ngIf="isLoggedIn()"><button mat-button (click)="onLogoutClick()"><mat-icon>logout</mat-icon></button></li>
      </ul>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
