
.container{
  width: 100%;
  height: auto;
  
  text-align: center;
  justify-content: center;
  margin: 0 auto;
  
  mat-card {
    width: 40%;
    margin: 2rem 0 0 2rem;
    text-align: center;
    justify-content: center;
    
  
    mat-card-title {
      text-align: center;
      font-size: 2em;
      margin: 2rem 0 2rem 0;
    }
  
    mat-form-field {
      width: 100%;
    }
  
    mat-card-content {
      display: flex;
      flex-direction: column;
      gap: 16px;
  
      form {
        text-align: center;
      }
    }
  }
}


