
.container{

  justify-content: center;
  text-align: center;
  width: 100%;
  display: inline-block;

  mat-card {
    max-width: 40%;
    margin: 2rem 0 0 2rem;
  
    mat-card-title {
      text-align: center;
      font-size: 2em;
      margin: 2rem 0 2rem 0;
    }
  
    mat-form-field {
      width: 100%;
    }
  
    mat-card-content {
      display: flex;
      flex-direction: column;
      gap: 16px;
  
      form {
        text-align: center;
      }
    }
  }

}
