.card {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: 30vh;
  
    .select-field {
      width: 100%;
      display: block;
    }
  
    .start-button {
      display: block;
      margin: 20px auto 0;
    }
  }

  .datas {
    width: 50%;
    margin: auto;
    text-align: center;
    margin-top: 2rem;

    
    
  
    mat-label {
      display: block;
      margin-top: 10px;
    }
  }
  
