<div class="container">
  <mat-card>
    <mat-card-title>Üdvözöljük a Basketball Quiz-en!</mat-card-title>
    <mat-card-content>
      <p>Csatlakozz hozzánk, és teszteld tudásodat a kosárlabdában!</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" routerLink="/login">Bejelentkezés</button>
      <button mat-raised-button color="accent" routerLink="/register">Regisztráció</button>
    </mat-card-actions>
  </mat-card>

</div>
<div class="csbpoard">
  <mat-card class="scoreboard">
    <mat-card-header>
      <mat-card-title >Top scores</mat-card-title>
    </mat-card-header>
    <mat-card-content *ngFor="let jatekos of Jatekosok; let i = index">
      <mat-label>#{{ i+1}} {{jatekos[1]}} - </mat-label>
      <mat-label> {{jatekos[6]}}</mat-label>
    </mat-card-content>
  </mat-card>
</div>