<!-- ADMIN TÁBLA ADATAI -->
<h1>Admin adatok:</h1>
<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Felhasználónév</th>
      <th>Email</th>
      <th>Jelszó</th>
    </tr>
  </thead>
  <tbody *ngFor="let admin of adminData">
    <tr>
      <td>{{ admin[0]}}</td>
      <td>{{ admin[1]}}</td>
      <td>{{ admin[2]}}</td>
      <td>{{ admin[3]}}</td>
    </tr>
  </tbody>
</table>

<mat-card *ngFor="let admin of adminData">
  <mat-card-title>Update admin #{{ admin[0] }}</mat-card-title>
  <mat-card-content>
    <form [formGroup]="updateAdminData" (ngSubmit)="updateAdmin(admin[0])">
      <mat-form-field appearance="fill">
        <mat-label>Felhasználónév</mat-label>
        <input matInput type="text" name="felhasznalonev"  formControlName="felhasznalonev" placeholder="{{ admin[1] }}">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput type="email" name="email" formControlName="email" placeholder="{{ admin[2] }}">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Jelszó</mat-label>
        <input matInput type="password" name="jelszo" formControlName="jelszo" placeholder="{{ admin[3] }}">
      </mat-form-field>
      <button mat-raised-button type="submit">Update</button>
    </form>
  </mat-card-content>
</mat-card>

<!-- ADMIN TÁBLA MÓDOSÍTÁS -->



<!-- JÁTÉKOS TÁBLA ADATAI -->
<h1>Játékos adatok:</h1>
<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Név</th>
      <th>Felhasználónév</th>
      <th>Email</th>
      <th>Jelszó</th>
      <th>Születési Dátum</th>
      <th>update</th>
    </tr>
  </thead>
  <tbody *ngFor="let jatekos of jatekosData">
    <tr>
      <td>{{ jatekos[0] }}</td>
      <td>{{ jatekos[1] }}</td>
      <td>{{ jatekos[2] }}</td>
      <td>{{ jatekos[3] }}</td>
      <td>{{ jatekos[4] }}</td>
      <td>{{ jatekos[5] }}</td>

    </tr>
    <tr>
      <td>{{ jatekos[0] }}</td>
      <td>
        <mat-form-field>
          <input matInput [(ngModel)]="jatekos.nev" placeholder="{{ jatekos[1] }}">
        </mat-form-field>
      </td>
      <td>
        <mat-form-field>
          <input matInput [(ngModel)]="jatekos.felhasznalonev" placeholder="{{ jatekos[2] }}">
        </mat-form-field>
      </td>
      <td>
        <mat-form-field>
          <input matInput [(ngModel)]="jatekos.email" type="email" placeholder="{{ jatekos[3] }}">
        </mat-form-field>
      </td>
      <td>
        <mat-form-field>
          <input matInput [(ngModel)]="jatekos.jelszo" type="password" placeholder="{{ jatekos[4] }}">
        </mat-form-field>
      </td>

      <td>
        <mat-form-field>
          <input matInput [matDatepicker]="picker" [(ngModel)]="jatekos.szuletesiDatum" placeholder="{{ jatekos[5] }}">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </td>
      <td>
        <button mat-button (click)="updateJatekos(jatekos)">Update</button>
      </td>
    </tr>
  </tbody>
</table>

<!-- VERSENY TÁBLA ADATOK -->
<h1>Verseny adatok:</h1>
<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Jatekos_ID</th>
      <th>Név</th>
      <th>Leírás</th>
      <th>Nyítási Dátum</th>
      <th>Engedélyezve</th>
      <th>Állapot</th>
      <th>Törlés/Update</th>
      
    </tr>
  </thead>
  <tbody *ngFor="let verseny of versenyData">
    <tr>
      <td>{{ verseny[0] }}</td>
      <td>{{ verseny[1] }}</td>
      <td>{{ verseny[2] }}</td>
      <td>{{ verseny[3] }}</td>
      <td>{{ verseny[4] }}</td>
      <td>{{ verseny[5] }}</td>
      <td>{{ verseny[6] }}</td>
      <td>
        <button mat-icon-button color="warn" (click)="deleteVerseny(verseny[0])">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </tr>
    <tr>
      <td>{{ verseny[0] }}</td>
      <td>
        <input [(ngModel)]="verseny.jatekos_ID" placeholder="{{ verseny[1] }}">
      </td>
      <td>
        <input [(ngModel)]="verseny.nev" placeholder="{{ verseny[2] }}">
      </td>
      <td>
        <input [(ngModel)]="verseny.leiras" placeholder="{{ verseny[3] }}">
      </td>
      <td>
        <input [matDatepicker]="picker" [(ngModel)]="verseny.nyitasiDatum" placeholder="{{ verseny[4] }}">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </td>
      <td>
        <select [(ngModel)]="verseny.engedelyezve">
          <option value="igen">Igen</option>
          <option value="nem">Nem</option>
        </select>
      </td>
      <td>
        <select [(ngModel)]="verseny.allapot">
          <option value="aktív">aktív</option>
          <option value="inaktív">inaktív</option>
        </select>
      </td>
      <td>
        <button mat-button (click)="updateJatekos(verseny)">Update</button>
      </td>
    </tr>
  </tbody>
</table>


<!-- FÓRUM TÁBLA ADATOK -->
<h1>Fórum adatok:</h1>
<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Név</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let forum of forumData">
      <td>{{ forum[0] }}</td>
      <td>{{ forum[1] }}</td>
      <td>
        <button mat-icon-button color="warn" (click)="deleteForum(forum[0])">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </tr>
  </tbody>
</table>

<!-- Fórum tábla módosítás -->

<mat-card *ngFor="let forum of forumData">
  <mat-card-title>Update Forum #{{ forum[0] }}</mat-card-title>
  <mat-card-content>
    <form [formGroup]="updateForumData" (ngSubmit)="updateForum(forum[0])">
      <mat-form-field appearance="fill">
        <mat-label>Név</mat-label>
        <input matInput type="text" name="nev"  formControlName="nev" placeholder="{{ forum[1] }}">
      </mat-form-field>
      <button mat-raised-button type="submit">Update</button>
    </form>
  </mat-card-content>
</mat-card>

<!-- HOZZÁSZÓLÁS TÁBLA ADATOK -->
<h1>Hozzászólás adatok:</h1>
<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Játékos_ID</th>
      <th>Fórum_ID</th>
      <th>Szöveg</th>
      <th>Dátum</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let hozzaszolas of hozzaszolasData">
      <td>{{ hozzaszolas[0] }}</td>
      <td>{{ hozzaszolas[1] }}</td>
      <td>{{ hozzaszolas[2] }}</td>
      <td>{{ hozzaszolas[3] }}</td>
      <td>{{ hozzaszolas[4] }}</td>
      <td>
        <button mat-icon-button color="warn" (click)="deleteHozzaszolas(hozzaszolas[0])">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </tr>
  </tbody>
</table>

<!-- Hozzászólás tábla módosítás -->
<mat-card *ngFor="let hozzaszolas of hozzaszolasData">
  <mat-card-title>Update admin #{{ hozzaszolas[0] }}</mat-card-title>
  <mat-card-content>
    <form [formGroup]="updateHozzaszolasData" (ngSubmit)="updateHozzaszolas(hozzaszolas[0])">
      <mat-form-field appearance="fill">
        <mat-label>jatekos_id</mat-label>
        <input matInput type="text" name="jatekos_id"  formControlName="jatekos_id" placeholder="{{ hozzaszolas[1] }}">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>forum_id</mat-label>
        <input matInput type="text" name="forum_id" formControlName="forum_id" placeholder="{{ hozzaszolas[2] }}">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>szöveg</mat-label>
        <input matInput type="text" name="szoveg" formControlName="szoveg" placeholder="{{ hozzaszolas[3] }}">
      </mat-form-field>
      <mat-form-field>
        <mat-label for="datum">dátum: </mat-label>
        <input matInput [matDatepicker]="datumPicker" placeholder="{{ hozzaszolas[4]}}" formControlName="datum">
        <mat-datepicker-toggle matSuffix [for]="datumPicker"></mat-datepicker-toggle>
        <mat-datepicker #datumPicker></mat-datepicker>
      </mat-form-field>
      <button mat-raised-button type="submit">Update</button>
    </form>
  </mat-card-content>
</mat-card>

<!-- TÉMAKÖR TÁBLA ADATOK -->
<h1>Témakör adatok:</h1>
<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Fórum_ID</th>
      <th>Név</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let temakor of temakorData">
      <td>{{ temakor[0] }}</td>
      <td>{{ temakor[1] }}</td>
      <td>{{ temakor[2] }}</td>
      <td>
        <button mat-icon-button color="warn" (click)="deleteTemakor(temakor[0])">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </tr>
  </tbody>
</table>

<!-- JÁTÉKSZOBA TÁBLA ADATOK -->
<h1>Játékszoba adatok:</h1>
<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Játékos_ID</th>
      <th>Témakör_ID</th>
      <th>Nehézségi szint</th>
      <th>Időpont</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let jatekszoba of jatekszobaData">
      <td>{{ jatekszoba[0] }}</td>
      <td>{{ jatekszoba[1] }}</td>
      <td>{{ jatekszoba[2] }}</td>
      <td>{{ jatekszoba[3] }}</td>
      <td>{{ jatekszoba[4] }}</td>
      <td>
        <button mat-icon-button color="warn" (click)="deleteJatekszoba(jatekszoba[0])">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </tr>
  </tbody>
</table>

<!-- KÉRDÉS TÁBLA ADATOK -->
<h1>Kérdés adatok:</h1>
<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Témakör_ID</th>
      <th>Szöveg</th>
      <th>Nehézségi szint</th>

    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let kerdes of kerdesData">
      <td>{{ kerdes[0] }}</td>
      <td>{{ kerdes[1] }}</td>
      <td>{{ kerdes[2] }}</td>
      <td>{{ kerdes[3] }}</td>
      <td>
        <button mat-icon-button color="warn" (click)="deleteKerdes(kerdes[0])">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </tr>
  </tbody>
</table>

<!-- VÁLASZ TÁBLA ADATOK -->
<h1>Válasz adatok:</h1>
<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Kérdés_ID</th>
      <th>Szöveg</th>
      <th>Helyesség</th>

    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let valasz of valaszData">
      <td>{{ valasz[0] }}</td>
      <td>{{ valasz[1] }}</td>
      <td>{{ valasz[2] }}</td>
      <td>{{ valasz[3] }}</td>
      <td>
        <button mat-icon-button color="warn" (click)="deleteValasz(valasz[0])">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </tr>
  </tbody>
</table>