<mat-card class="card">
    <mat-card-content>
        <h1>{{ timeLeft }}</h1>
        <h2>Question</h2>
      <div class="question-row">
        <div class="question">
          <h2>A</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
        <div class="question">
          <h2>B</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
      </div>
      <div class="question-row">
        <div class="question">
          <h2>C</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
        <div class="question">
          <h2>D</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
      </div>
      <button mat-raised-button class="confirmation-button">Confirmation</button>
    </mat-card-content>
  </mat-card>
  