.card {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  justify-content: center;
  text-align: center;

  .question-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .question {
    width: 50%;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  }

  .confirmation-button {
    margin: 20px auto 0;
  }
}
